@import url('../colors.css');

.pg-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 5vh;

    width: 60%;
    padding: 2vw;

    color: var(--light-text);
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.post-content {
    justify-content: flex-start !important;
    text-align: start;
}

.author {
    text-decoration: underline;
}

.post-info {
    color: var(--grey-text);
}

.post_txt {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.post_img {
    max-height: 50vh;
    object-fit: cover;
}