.post-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    /* padding: 1vw; */
    margin: 1rem;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: black;
    cursor: pointer;
}

.tile-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tile-txt {
    margin: 2vh 2vw !important;
}

.var-txt {
    margin-left: 0.5vw;
    font-weight: bold;
}

.created-txt {
    margin-bottom: 0 !important;
    color: grey;
    font-weight: bold;
}