#root {
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1vh 0;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.min-content {
  width: fit-content;
}

.pg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}
