#root {
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
