:root {
    --lav-tint: #ece6f9;
    --light-lav: #d1c4e9;
    --light-lav-hover: #bca9e0;
    --med-light-lav: #b388ff;
    --main-lav: rgb(124, 77, 255);
    --main-comp: #87ba45;
    --main-comp-hover: #70a32c;
    --dark-lav: #651fff;
    --even-dark-lav: #6200ea;
    --darkest-lav-trans: rgb(46, 37, 56);
    --light-text: #262626;
    --dark-text: #f6f0ff;
    --grey-text: #b3b3b3;
    --grey-bg: #f2f2f2;

    --search-bg: var(--light-text);
}