:root {
    --light-lav: #d1c4e9;
    --med-light-lav: rgb(179, 136, 255);
    --main-lav: #7c4dff;
    --dark-lav: #651fff;
    --even-dark-lav: #6200ea;
    --light-text: #262626;
    --dark-text: #f6f0ff;
    --grey-text: #b3b3b3;
}